
@{
    Layout = null;
}

<link href="~/eshop/css/bootstrap.min.css" rel="stylesheet" />

<div class="alert alert-success">@ViewBag.uyari</div>
@using (Html.BeginForm("PasswordReset","User",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
    <br />
    <br />
    <div class="container">
        <div class="form-group">
            <div class="form-group">
                <input type="email" name="eposta" placeholder="E-mail adresinizi giriniz" />
            </div>
            <div class="form-group">
                <input type="submit" value="Şifreyi Sıfırla" class="btn btnsuccess"/>
            </div>
        </div>
        @if (ViewBag.sifre!=null)
{
    <p style="color:lawngreen"><b>Yeni Şifreniz:</b>@ViewBag.sifre</p>
}
    </div>
}

  